@model AnswerDto

@{
	ViewData["Title"] = "Create";
}

<h1>Create New Answer</h1>
<hr />
<div class="row">
	<div class="col-md-4">
		<form id="myForm" asp-action="Create" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="answer" class="control-label">Answer</label>
				<input asp-for="answer" class="form-control" />
				<span asp-validation-for="answer" class="text-danger"></span>
			</div>
			<div class="form-group form-check">
				<label class="form-check-label">
					<input id="inputField" class="form-check-input" asp-for="isTrue" /> IsTrue
				</label>
			</div>
			<span style="color:red" id="errorMessage" class="error">Error: The last answer must be true because there is no true answers submited before</span>
			<input hidden asp-for="questionId" />
			<div class="form-group">
				<button type="submit" id="buttonCheck" value="Create" class="btn btn-primary">Create</button>
				<a class="btn btn-success" href="/Answer/Index/@Model.questionId">Back to List</a>
			</div>
			
		</form>
	</div>
</div>



<script>
	const hasTrueAnswer = @Model.answers.Any(x => x.isTrue).ToString().ToLower();
	const answerCount = @Model.answers.Count();
	function hideButtonShowError() {
		buttonCheck.style.visibility = "hidden";
		errorMessage.style.visibility = "visible";
	}

	function showButtonHideError() {
		buttonCheck.style.visibility = "visible";
		errorMessage.style.visibility = "hidden";
	}

	const checkBox = document.getElementById("inputField");
	const errorMessage = document.getElementById("errorMessage");
	const buttonCheck = document.getElementById("buttonCheck");
	checkBox.addEventListener("click", function () {
		if (checkBox.checked) {
			if (@Model.answers.Any(x => x.isTrue == true).ToString().ToLower()) {
				hideButtonShowError();
				errorMessage.innerText = "Error: Can`t have two true answers";
			} else {
				showButtonHideError();
			}
		} else {
			if (@Model.answers.Any(x => x.isTrue == true).ToString().ToLower()) {
				showButtonHideError();
			} else {
				if (@Model.answers.Count()== 4) {
					hideButtonShowError();
				}
			}
		}
	});
	function checkCount() {
		if (@Model.answers.Count()== 4) {
			if (@Model.answers.Any(x => x.isTrue == true).ToString().ToLower()) {
				showButtonHideError();
			} else {
				hideButtonShowError();
			}
		} else {
			errorMessage.style.visibility = "hidden";
		}
	}
	checkCount();
</script>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
